<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
	<link rel="stylesheet" href="/css/myinfo.css" />
</head>
	
<body>
<div>
	<div class="left">
		<div class="left-title">头像：</div>
		<img src="../img/001.jpg" width="80px" height="80px"/>
	</div>
	<div class="right">
		<p><span class="right-title">姓&nbsp;&nbsp;名：</span><span th:text="${info.Sname}"/></p>
		<p><span class="right-title">工&nbsp;&nbsp;号：</span><span th:text="${info.StaffID}"/></p>
		<p><span class="right-title">性&nbsp;&nbsp;别：</span><span th:text="${info.Ssex}"/></p>
		<p><span class="right-title">职&nbsp;&nbsp;位：</span><span th:text="${info.Spost}"/></p>
		<p><span class="right-title">手机号码:</span><span th:text="${info.Smobilenum}"/></li>
	</div>
</body>
</html>
